<div class="square">
<table cellspacing="5">
<tr><td>
<h4>EQUIPOS Y JUGADORES</h4>

<p>Seleccione la opcion deseada </p>
<p> <a  href="{$gvar.l_global}registrarjugador.php"> Registrar Jugador </a></p>
<p> <a  href="{$gvar.l_global}listarjugador.php"> Listar Jugadores de un equipo </a></p>


</td></tr></table>
</div>

