<div class="square">

{if isset($boton)}

	
			<p><h4> JUGADORES DE ESTE EQUIPO</h4></p>
		
			<body>
				{section loop=$equipo name=i}
				<tr>
					<br/>
					<td><center>{$equipo[i]->get('jugador')}</center></td>
					
					
				</tr>
				{/section}
			</body>

		
{else}

	<form action="{$gvar.l_global}listarjugador.php?option=listar" method="post">
	<table width="100%" border="0" cellpadding="0" cellspacing="5">
	<tr><td>
	
		<b>LISTAR JUGADORE DE EQUIPO</b><br /><br />
		<b>Ingrese el codigo del equipo:</b> <input type="number" name="codigo" /><br />

		<input class="btn btn-primary" type="submit" value="Listar" />

	</td></tr></table>
	</form>
	
{/if}


</div>

