<div class="square">
<form action="{$gvar.l_global}registrarjugador.php?option=add" method="post">
<table width="100%" border="0" cellpadding="0" cellspacing="5">
<tr><td>


<b>REGISTRAR UN JUGADOR </b><br /><br />

<b>Ingrese el nombre:</b> <input type="text" name="nombre" /><br />
<b>Ingrese el cedula:</b> <input type="number" name="cedula" /><br />
<b>Ingrese la posicion:</b> <input type="text" name="posicion" /><br />


<input class="btn btn-primary" type="submit" value="Registrar" />
</td></tr></table>
</form>
</div>
